<div class="center jumbotron">
  <h1>Welcome to Momintum!</h1>
  
  <%= link_to "Register now!", register_path, class: "btn btn-lg btn-primary" %>
</div>

<!--%= link_to image_tag("logo.png", alt: "Momintum logo"),
            'http://worx.momintum.com' %-->

<h1>Newest Sparks</h1>
<p><%= link_to 'Create new spark', new_spark_path %></p>

<table>
  <tbody>
    <tr>
      <th>Name</th>
      <th>Summary</th>
      <th>Description</th>
    </tr>
    <% @sparks.each do |s| %>
      <tr>
        <td><%= link_to s.name, s %></td>
        <td><%= s.summary %></td>
        <td><%= s.description[0, [s.description.length, 200].min] %></td>
      </tr>
    <% end %>
  </tbody>
</table>