<% provide(:title, 'Admin Dashboard') %>
<h1>Email Configuration</h1>

<% if ENV['ADMIN_EMAIL'].nil? %>
  <p>It looks like the ADMIN_EMAIL environment variable is missing.</p>
<% else %>
  <ul>
    <li><strong>ENV['ADMIN_EMAIL']:</strong> <%= ENV['ADMIN_EMAIL'] %></li>
    <li><strong>ENV['EMAIL_USER']:</strong> <%= ENV['EMAIL_USER'] %></li>
    <li><strong>ENV['EMAIL_PASSWORD']:</strong> <%= ENV['EMAIL_PASSWORD'] %></li>
    <li><strong>ENV['TEST_ACCOUNT']:</strong> <%= ENV['TEST_ACCOUNT'] %></li>
  </ul>

  <h1>Feature Map</h1>
  <% all_features = [:email] %>
  <ul>
    <% all_features.each do |feature| %>
      <li><strong><%= feature %>:</strong> <%= Rails.application.config.feature_map.enabled?(feature) %></li>
    <% end %>
  </ul>
  
  <h1>Custom Rake Commands</h1>
  <ul>
    <li><strong>email:test</strong> sends a test email to <%= ENV['ADMIN_EMAIL'] %>, and a registration confirmation to <%= ENV['TEST_ACCOUNT'] %></li>
  </ul>

  <h1>Environment Variables</h1>
  <ul>
  <% ENV.each do |k, v| %>
    <li><strong>ENV['<%= k %>']:</strong> <%= v %></li>
  <% end %>
  </ul>

<% end %>