<p id="notice"><%= notice %></p>

<h1>Listing Canvas Sections</h1>

<table>
  <thead>
    <tr>
      <th>Spark</th>
      <th>Name</th>
      <th>X</th>
      <th>Y</th>
      <th>Width</th>
      <th>Height</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @canvas_sections.each do |canvas_section| %>
      <tr>
        <td><%= canvas_section.spark_id %></td>
        <td><%= canvas_section.name %></td>
        <td><%= canvas_section.x %></td>
        <td><%= canvas_section.y %></td>
        <td><%= canvas_section.width %></td>
        <td><%= canvas_section.height %></td>
        <td><%= link_to 'Show', canvas_section %></td>
        <td><%= link_to 'Edit', edit_canvas_section_path(canvas_section) %></td>
        <td><%= link_to 'Destroy', canvas_section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Canvas section', new_canvas_section_path %>
