<div id="ideation">
  <% if current_user.nil? || !current_user.can_edit?(@spark) %>
    <p>Only the owner and team members can change ideation sections.</p>
  <% else %>
    <p>Click-drag to move sections; use the corner handle to resize; double-click the name to rename.</p>
    <a id="addSectionButton">Add Section</a>        
    <!-- <img id="lockButton" src="~/Images/lock@(Model.AreSectionsLocked ? "" : "-unlocked").png" width="64" height="64" style="float: right;" /> -->
  <% end %>
  <div id="sectionContainer">
    
  </div>

  <div id="edit-note-dialog-form" title="Edit a Note" style="display: none;">
    <form id="editNoteForm" method="get" action="">
      <fieldset>
        Identifier (1-4 characters) <%= text_field(:note, :identifier) %>
  			<%= text_area(:note, :text, cols: 55, rows: 11) %>
  		  <%= select_tag(:note_status, options_for_select([ ["Undecided", "undecided"], ['Accepted', 'accepted'], ['Rejected', 'rejected'] ])) %>
  			<%= hidden_field(:note, :id) %>
  			<%= hidden_field(:note, :sectionId) %>
		  </fieldset>
		</form>
	</div>

<% content_for :javascript do %>
  <%= raw render :partial => 'sparks/js/common.js.coffee' %>
  <%= raw render :partial => 'sparks/js/notes.js.coffee' %>
  <%= raw render :partial => 'sparks/js/noteForm.js.coffee' %>
  <%= raw render :partial => 'sparks/js/sections.js.coffee' %>
<% end %>

</div>