<h1><%= @spark.name %></h1>
<p><strong>Name:</strong> <%= @spark.name %></p>
<p><strong>Summary:</strong> <%= @spark.summary %></p>
<p><strong>Description:</strong></p>
<%= @spark.description %>

<br />
<%= link_to 'Edit', edit_spark_path(@spark) if !current_user.nil? && current_user.can_edit?(@spark) %>

<h2>Recent Activity</h2>
<% @spark.activities.each do |a| %>
  <%= render :partial => '/activities/activity', :locals => { :activity => a } %>
<% end %>